@model Library.Models.ProductosViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

@Html.TextBoxFor(m => m.Categoria)
<ul>
    @foreach (var producto in Model.productos)
    {
        <li>@producto</li>
    }
</ul>
